<% include head.ejs %>
<header>
  <img src="/image/logo.svg" />
  <h1>Doorzoek het stadsarchief</h1>
  <p>Vul een aan Amsterdam gerelateerde zoekterm in. Bijvoorbeeld: Rokin</p>
</header>

<form class="" action="/search" method="post">
  <input type="text" name="zoekTerm" value="">
  <!-- <button type="submit" name="button">Zoek</button> -->
  <input type="submit" name="button" value="Zoek">
</form>
<p id="error">Uw zoek opdracht heeft geen resultaten opgeleverd</p>
<section id="images">
  <p>
    <%=results.results.bindings[0].description.value%>
  </p>
</section>
<div class="loader"></div>
<% include tail.ejs %>
